@import '../Vars.scss';

.button {
  font-family: $roboto;
  font-size: .9rem;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 0 10px -3px rgba(0,0,0,0.5);
  svg {
    margin-right: 5px;
  }
}

.button__primary {
  background-color: $primary;
  color: white;
}

.button__success {
  background-color: $succes;
  color: white;
}

.button__danger {
  background-color: $danger;
  color: white;
}